<section class="hero is-halfheight has-text-left has-background-white-ter" id="about"
         xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="hero-body">
        <div class="container">
            <div class="title">
                <b>About</b>
            </div>
            <br>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <img src="assets/images/I.jpg" alt="{{site.author-name}}">
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p class="font_7 wixui-rich-text__text" style="font-size:18px;">
                        Hi, there! I am Jinpei Guo, a fourth-year undergraduate student in Computer Science and Technology at<span style="text-decoration:underline;"><a href="https://github.com/jp-guo" style="color: #000000">Shanghai Jiao Tong University</a></span>.<br><br>
                        I worked closely with Prof.<span style="text-decoration:underline;"><a href="https://thinklab.sjtu.edu.cn/" style="color: #000000">Junchi Yan</a></span>as a research assistant at<span style="text-decoration:underline;"><a href="https://thinklab.sjtu.edu.cn/" style="color: #000000">SJTU-ReThinkLab</a></span>. We developed methods to facilitate the accuracy and efficiency of machine learning models on combinatorial optimization problems. We applied language models and generative models to graph matching, travelling salesman problem, maximum indepent set, etc.
                        I also did research with Prof.<span style="text-decoration:underline;"><a href="https://www.cs.toronto.edu/~six/" style="color: #000000">Xujie Si</a></span>at<span style="text-decoration:underline;"><a href="https://github.com/ML-PL/" style="color: #000000">University of Toronto</a></span>on Neural Logical Reasoning. We developed reliable and interpretable frameworks to capture the rules of logical puzzles explicitly. We conducted research on machine learning for SAT solving as well, especially with GNNs. <br><br>
                        My research interests lie at the intersection of machine learning and combinatorial optimization. I am also interested in making the black-box reasoning or decision-making process explainable and reliable by analyzing the model structure and inference process from a mathematical perspective, or combining the machine learning models with exact solvers.
                </div>
            </div>
            <br>
            <p class="font_7 wixui-rich-text__text" style="font-size:20px;"><b>Contact Me</b><br>
            <p class="font_7 wixui-rich-text__text" style="font-size:17px;">Email: mike0728@sjtu.edu.cn<br>
            <p class="font_7 wixui-rich-text__text" style="font-size:17px;">GitHub:<span style="text-decoration:underline;"><a href="https://github.com/jp-guo" style="color: #000000">jp-guo</a><br></span></p>
        </div>
    </div>
</section>