<section class="hero is-halfheight has-text-left has-background-white-ter" id="about"
         xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="hero-body">
        <div class="container">
            <div class="title">
                <b>About</b>
            </div>
            <br>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <img src="assets/images/I.jpg" alt="{{site.author-name}}">
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p class="font_7 wixui-rich-text__text" style="font-size:18px;">
                        Hi, there! I am Jinpei Guo, a second-year student in the MSML program at
<a href="https://www.ml.cmu.edu/academics/primary-ms-machine-learning-masters.html">Carnegie Mellon University</a>. My research focuses on low-level computer vision, including image and video restoration, compression, and diffusion-based generative models. I am particularly interested in developing efficient generative frameworks that unify restoration and compression across diverse real-world degradations. I worked closely with <a href="https://jianwang-cmu.github.io/">Dr. Jian Wang.</a>

Prior to that, I received my bachelor’s degree from
<a href="https://en.sjtu.edu.cn/">Shanghai Jiao Tong University</a>, where I worked with <a href="https://thinklab.sjtu.edu.cn/">Prof.Junchi Yan</a>. I was also fortunate to collaborate with <a href="https://thinklab.sjtu.edu.cn/">Prof. Xujie Si</a>.

                </div>
            </div>
            <br>
            <p class="font_7 wixui-rich-text__text" style="font-size:20px;"><b>Contact Me</b><br>
            <p class="font_7 wixui-rich-text__text" style="font-size:17px;">Email: jinpeig@andrew.cmu.edu<br>
            <p class="font_7 wixui-rich-text__text" style="font-size:17px;">GitHub:<span style="text-decoration:underline;"><a href="https://github.com/jp-guo" style="color: #000000">jp-guo</a><br></span></p>
        </div>
    </div>
</section>