<section class="hero has-text-left has-background-black-ter" id="awards">
<div class="hero-body">
    <div class="container">
        <div class="title" style="margin-top: 0; padding-top: 0;">
            <font color="#fffafa">
                <b>Selected Awards</b>
            </font>
        </div>
        <div class= "pt-4 pt-lg-0 content">
          <ul class="font_7 wixui-rich-text__text" style="color: #fffafa;">
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                Snap Inc. Gift Funding, ¥108,000, 2025
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                Chiang Chen Overseas Graduate Fellowship, ¥360,000, 2024
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  SenseTime Scholarship, ¥20,000, 2023
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  Chinese National Scholarship, ¥8,000 &times; 2, 2022, 2023
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  Shanghai Scholarship, ¥8,000, 2021
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  Zhiyuan Honorary Scholarship, ¥5,000 &times; 3, 2021, 2022, 2023
              </span></span></p></li>
          </ul>
        </div>
    </div>
</div>
</section>