<section class="hero is-fullheight has-text-left has-background-white-ter" id="experience">
    <div class="hero-body">
        <div class="container">
            <div class="title">
                <b>Education</b>
            </div>
            <br>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img src="assets/images/cmu.svg" style="width:100px; height:auto;">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="subtitle">
                        <p class="font_7 wixui-rich-text__text"><span style="font-weight:bold;" class="wixui-rich-text__text"><a href="https://www.cmu.edu/" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">Carnegie Mellon University</a></span>,
                        <b>Pittsburgh, USA</b><br>
                        <b>08/2024 - present</b>
                    </div>
                    <div class="subsubtitle">
                        <b>Master of Science in Machine Learning</b>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img src="assets/images/sjtu.webp">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="subtitle">
                        <p class="font_7 wixui-rich-text__text"><span style="font-weight:bold;" class="wixui-rich-text__text"><a href="https://en.sjtu.edu.cn/" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">Shanghai Jiao Tong University</a></span>,
                        <b>Shanghai, China</b><br>
                        <b>09/2020 - 06/2024</b>
                    </div>
                    <div class="subsubtitle">
                        <b>Honorary Bachelor of Zhiyuan College</b><br>
                    </div>
                    <div class="subsubtitle">
                        <b>Bachelor of Computer Science and Technology</b>
                        <p>
                            GPA: 91.9/100, Ranking: 5/109
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img src="assets/images/uoft.png">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="subtitle">
                        <p class="font_7 wixui-rich-text__text"><span style="font-weight:bold;" class="wixui-rich-text__text"><a href="https://en.sjtu.edu.cn/" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">University of Toronto</a></span>,
                        <b>Toronto, Canada</b><br>
                            <b>04/2023 - 09/2023</b>
                    </div>
                    <div class="subsubtitle">
                        <b>Summer Research Program</b><br>
                    </div>
                </div>
            </div>

            <div class="title">
                <b>Internship</b>
            </div>
            <br>
<!--            <div class="columns">-->
<!--                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">-->
<!--                    <figure class="image">-->
<!--                        <img src="assets/images/biomap.svg">-->
<!--                    </figure>-->
<!--                </div>-->
<!--                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">-->
<!--                    <div class="subtitle">-->
<!--                        <p class="font_7 wixui-rich-text__text"><span style="font-weight:bold;" class="wixui-rich-text__text"><a href="https://www.biomap.com/" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">BioMap</a></span>,-->
<!--                        <b>Shanghai, China</b><br>-->
<!--                            <b>09/2022 - 01/2023</b>-->
<!--                    </div>-->
<!--                    <div class="subsubtitle">-->
<!--                        <b>Research Intern</b><br>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img src="assets/images/antgroup.png">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="subtitle">
                        <p class="font_7 wixui-rich-text__text"><span style="font-weight:bold;" class="wixui-rich-text__text"><a href="https://www.antgroup.com/en" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">Ant Group</a></span>,
                        <b>Shanghai, China</b><br>
                            <b>04/2024 - 07/2024</b>
                    </div>
                    <div class="subsubtitle">
                        <b>Algorithm Intern</b><br>
                    </div>
                </div>
            </div>
            <br>
            <div class="title">
                <b>Teaching</b>
            </div>
            <div class= "pt-4 pt-lg-0 content">
              <ul>
                  <li>
                      <b>Teaching assistant of CS0501H - Data Structure (ACM Honors class), 2022, SJTU</b><br>
                      Prof. <span style="text-decoration:underline;"><a href="https://english.seiee.sjtu.edu.cn/english/detail/841_695.htm" style="color: #000000">Yong Yu</a></span>; Number of students: 48
              </ul>
            </div>
        </div>
    </div>
</section>