<footer id="footer">
    <!--Footer Button-->
<!--    <div class="container has-text-centered has-background-grey-darker" id="backtotop">-->
<!--        <a class="has-text-white" onclick="window.scroll(0,0)">BACK TO TOP</a>-->
<!--    </div>-->
    <!--Footer Main Section-->
    <div class="has-background-black has-text-centered has-text-white" id="credits">
        <p class="font_7 wixui-rich-text__text" style="font-size:18px;"> <i class="far fa-copyright"></i> {{ "now" | date: "%Y" }} by Jinpei Guo
    </div>
</footer>