<section class="hero is-fullheight has-text-left has-background-black-ter" id="publication">
    <font color="#fffafa">
        <div class="hero-body">
            <div class="container">
                <div class="title">
                    <font color="#fffafa">
                        <b>Publications</b>
                    </font>
                </div>
                <br>

                <div class="columns">
                    <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                        <figure class="image">
                            <img src="assets/images/gm.png" height="1000">
                        </figure>
                    </div>
                    <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                        <p class="font_7 wixui-rich-text__text" style="font-size:20px;"><b>Graph Matching Transformers</b><br>
                        <p class="font_7 wixui-rich-text__text" style="font-size:15px;"><b>Jinpei Guo</b>, Shaofeng Zhang, Runzhong Wang, Chang Liu, Junchi Yan<br>
                        <p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#FFC81A;" class="wixui-rich-text__text">IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), 2024
                            </span></span></p>
                         (Under review)
                        <br>
                        <p class="font_7 wixui-rich-text__text"><span style="color:#FFC81A;" class="wixui-rich-text__text"><span style="font-weight:bold;" class="wixui-rich-text__text"><span style="text-decoration:underline;" class="wixui-rich-text__text"><a href="https://github.com/jp-guo/gm-transformer" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">Code</a></span></span></span></p>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                        <figure class="image">
                            <img src="assets/images/t2tco.png">
                        </figure>
                    </div>
                    <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                        <p class="font_7 wixui-rich-text__text" style="font-size:20px;"><b>From Distribution Learning in Training to Gradient Search in Testing for Combinatorial Optimization</b><br>
                        <p class="font_7 wixui-rich-text__text" style="font-size:15px;">Yang Li, <b>Jinpei Guo</b>, Runzhong Wang, Junchi Yan<br>
                        <p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#FFC81A;" class="wixui-rich-text__text">Neural Information Processing Systems (NeurIPS), 2023</span></span></p>
                        <br>
                        <p class="font_7 wixui-rich-text__text"><span style="color:#FFC81A;" class="wixui-rich-text__text"><span style="font-weight:bold;" class="wixui-rich-text__text"><span style="text-decoration:underline;" class="wixui-rich-text__text"><a href="https://nips.cc/virtual/2023/poster/72042" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">Paper</a></span>
                            &nbsp; -&nbsp;
                        <span style="text-decoration:underline;" class="wixui-rich-text__text"><a href="https://github.com/Thinklab-SJTU/T2TCO" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">Code
                        </a></span></span></span></p>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                        <figure class="image">
                            <img src="assets/images/satnet.png" height="1000">
                        </figure>
                    </div>
                    <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                        <p class="font_7 wixui-rich-text__text" style="font-size:20px;"><b>Learning Reliable Interpretations with SATNet</b><br>
                        <p class="font_7 wixui-rich-text__text" style="font-size:15px;">Zhaoyu Li, <b>Jinpei Guo</b>, Yuhe Jiang, Xujie Si<br>
                        <p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#FFC81A;" class="wixui-rich-text__text">Neural Information Processing Systems (NeurIPS), 2023</span></span></p>
                        <br>
                        <p class="font_7 wixui-rich-text__text"><span style="color:#FFC81A;" class="wixui-rich-text__text"><span style="font-weight:bold;" class="wixui-rich-text__text"><span style="text-decoration:underline;" class="wixui-rich-text__text"><a href="https://neurips.cc/virtual/2023/poster/70675" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">Paper</a></span>
                            &nbsp; -&nbsp;
                        <span style="text-decoration:underline;" class="wixui-rich-text__text"><a href="https://github.com/jp-guo/satnet-rules" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">Code
                        </a></span></span></span></p>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                        <figure class="image">
                            <img src="assets/images/satbench.png" height="1000">
                        </figure>
                    </div>
                    <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                        <p class="font_7 wixui-rich-text__text" style="font-size:20px;"><b>G4SATBench: Benchmarking and Advancing SAT Solving with Graph Neural Networks</b><br>
                        <p class="font_7 wixui-rich-text__text" style="font-size:15px;">Zhaoyu Li, <b>Jinpei Guo</b>, Xujie Si<br>
                        <p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#FFC81A;" class="wixui-rich-text__text">International Conference on Learning Representations (ICLR), 2024</span></span></p>
                        (Under review)
                        <br>
                        <p class="font_7 wixui-rich-text__text"><span style="color:#FFC81A;" class="wixui-rich-text__text"><span style="font-weight:bold;" class="wixui-rich-text__text"><span style="text-decoration:underline;" class="wixui-rich-text__text"><a href="https://paperswithcode.com/paper/g4satbench-benchmarking-and-advancing-sat" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">Paper</a></span>
                            &nbsp; -&nbsp;
                        <span style="text-decoration:underline;" class="wixui-rich-text__text"><a href="https://github.com/zhaoyu-li/g4satbench" target="_blank" rel="noreferrer noopener" class="wixui-rich-text__text">Code
                        </a></span></span></span></p>
                    </div>
                </div>

            </div>
        </div>
    </font>
</section>