<section class="hero is-halfheight has-text-left has-background-black-ter" id="awards">
<div class="hero-body">
    <div class="container">
        <div class="title">
            <font color="#fffafa">
                <b>Selected Awards</b>
            </font>
        </div>
        <div class= "pt-4 pt-lg-0 content">
          <ul class="font_7 wixui-rich-text__text" style="color: #fffafa;">
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                   SenseTime Scholarship (Top 30 undergraduates in the field of AI in China), 2023
                </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  SenseTime Scholarship (Top 30 undergraduates in the field of AI in China), 2023
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  Chinese National Scholarship (Top 1% in SJTU), 2022, 2023
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  Shanghai Scholarship (Top 2% in SJTU), 2021
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  Zhiyuan Honorary Scholarship, 2021, 2022, 2023
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  The Second Prize in the Chinese Physics Competition, 2021
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  The Third Prize of "Knowledge and Practice Cup" in Shanghai College Students' Social Practice Competition, 2021
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  First Prize for Social Practice of SJTU (Top 1% in SJTU), 2021
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  Advanced Individual in the Social Practice of SJTU, 2021
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#fffafa;" class="wixui-rich-text__text">
                  The Second Prize of China Collegiate Algorithm Design & Programming Challenge Contest, 2021
              </span></span></p></li>
          </ul>
        </div>
    </div>
</div>
</section>