<section class="hero is-halfheight has-text-left has-background-white-ter" id="news">
<div class="hero-body">
    <div class="container">
        <div class="title">
            <b>News</b>
        </div>
        <div class= "pt-4 pt-lg-0 content">
          <ul class="font_7 wixui-rich-text__text">
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text">
                  [Apr, 2024] Awarded <span style="text-decoration:underline;"><a href="https://www.sensetime.com/en/technology-personnel" style="color: #000000"</a></span> (10 undergraduates in China).
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text">
                  [Dec, 2023] Awarded <span style="text-decoration:underline;"><a href="https://www.sensetime.com/en/technology-personnel" style="color: #000000">SenseTime Scholarship</a></span> (30 undergraduates in the field of AI in China).
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text">
                  [Dec, 2023] One paper Accepted to <span style="text-decoration:underline;"><a href="https://2024.ieeeicassp.org/" style="color: #000000">ICASSP 2024</a></span>!
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text">
                  [Oct, 2023] Awarded National Scholarship.
              </span></span></p></li><li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text">
                  [Sept, 2023] Two papers Accepted to <span style="text-decoration:underline;"><a href="https://nips.cc" style="color: #000000">NeurIPS 2023</a></span>!
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text">
                  [Jan, 2023] Started research with Prof. <span style="text-decoration:underline;"><a href="https://www.cs.toronto.edu/~six/" style="color: #000000">Xujie Si</a></span> at University of Toronto.
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text">
                  [Oct, 2022] Awarded National Scholarship.
              </span></span></p></li>
              <li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text">
                  [Dec, 2021] Started research at SJTU-ReThinkLab, working with Prof. <span style="text-decoration:underline;"><a href="https://thinklab.sjtu.edu.cn/" style="color: #000000">Junchi Yan</a></span>.
              </span></span></p></li><li><p class="font_7 wixui-rich-text__text" style="font-size:16px;"><span style="font-size:18px;" class="wixui-rich-text__text">
                  [Oct, 2021] Awarded Shanghai Scholarship.
              </span></span></p></li>
          </ul>
        </div>
    </div>
</div>
</section>